.input-group {
  float: right
}


input[type="number"][disabled] {
  background-color: rgba(0,0,0,0.1);
}

.money {
  vertical-align: middle;
}

.subscribe-btn {
  padding-left: 8px;
}

input[type="number"], select {
  display: inline;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}

.add-to-cart-button {
  float: right;
  width: 144px;
  margin-right: 8px;
}

.form-control {
  height: 37px;
}

.order-form-inputs {
  width: 144px
}

.subscribe.btn-secondary {
  color: black;
  background-color: white;
  border-color: black;
}

.subscribe-btn {
  width: 110px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-margin {
  margin-top: 30px;
}



/*============================================================================
  #Cart Page
==============================================================================*/
.order__row {
  position: relative;
  margin-top: $gutter;
  padding-top: $gutter;
  border-top: 1px solid $colorBorder;

  &:first-child {
    margin-top: 0;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0 none;
  }
  a{
    text-decoration: none;
  }
  .js-qty {
    margin: 0;
  }
}
@include at-query ($min, $large) {
  .order__row--table-large {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid__item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}
.order__image {
  display: block;

  img {
    display: block;
  }
}
.order__subtotal {
  margin: 0 0 0 ($gutter / 3);
  display: inline;
}
.order__mini-labels {
  display: block;
  margin: ($gutter / 3) 0;
  font-size: em(12px);

  @include at-query ($min, $large) {
    display: none;
  }
}
.order__remove {
  display: block;
}
.order__footer{
  text-align: right;
}
.order__instructions__label{
  text-align: left;
}
.hidden-count{
  display: none;
}
