{% include "modelmeals-order" %}

<div class="container text-center" id="loading-spinner">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
    <span class="sr-only">Loading...</span>
</div>



<script>
{% if template == 'page.order-packages' %}
document.getElementById('subscribed-order-form').removeAttribute("style");
{% endif %}

let packageTbody = document.getElementById('package-options');

/* Ajax data from subscriptions page */
function getHTML() {
  let html = this.responseText;
  let parser = new DOMParser();
  let domDoc = parser.parseFromString(html, "text/html");
  let subscribedPackage = domDoc.querySelectorAll('.td-product');

  for (let product of subscribedPackage) {
    let subscribedPackage = product.children[0].innerHTML.trim();
    let subscribedQty = product.nextElementSibling.innerHTML.trim();
    let packages = document.querySelectorAll('.package-options');
    for (let i = 0; i < packages.length; i++) {
      console.log(packages[i].substring(4));
      if (packages[i].dataset.product.includes(subscribedPackage)) {
        let productImage = packages[i].dataset.image;
        let productId = packages[i].dataset.id;
        let collectionId = packages[i].dataset.collectionid;
        let packageRow = packageTbody.insertRow(0);

        let imageCell = packageRow.insertCell(0);
        let imageA = document.createElement("a");
        let imageSrc = document.createElement("img");

        imageCell.appendChild(imageA);
        imageCell.className = "table-img";
        imageA.appendChild(imageSrc);
        imageA.href = "#image" + productId;
        imageSrc.src = productImage;
        imageSrc.id = 'image' + productId;
        imageSrc.className = 'modal-img';
        imageSrc.dataset.collectionid = collectionId;
      }
    }

      // price cell
      /*
      imageCell.innerHTML =
        '<td class="table-img">\
          <a href="#image' + productId + '">\
            <img src="' + productImage + '" id="image' + productId + '" alt="" class="modal-img" data-collection="' + collectionId + '"/>\
          </a>\
        </td>\
        <td colspan="3">' + subscribedPackage + '</td>\
        <td class="table-inputs"><div class="subscribed-td-qty">' + subscribedQty + '</div></td>' */
  }
  document.getElementById('loading-spinner').style.display = 'none';
  document.getElementById('subscribed-order-form').removeAttribute("style");
}


let requestHTML = new XMLHttpRequest();
requestHTML.addEventListener("load", getHTML);
requestHTML.open("GET", "/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/");
requestHTML.send();
/* Ajax data from subscriptions page end */

</script>
