

    {% include "modelmeals-order" %}

    <div class="container text-center" id="loading-spinner">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
    </div>

<script>



function getJSON() {
  let parseJSON = JSON.parse(this.responseText);
  let productsJSON = parseJSON.products;
  for (let data of productsJSON) {
    if (data.title.includes('16-Dish')) {
      console.log(data.title);
    }
  }
}
let requestJSON = new XMLHttpRequest();
requestJSON.addEventListener("load", getJSON);
requestJSON.open("GET", "/admin/products.json");
requestJSON.send();




/* Ajax data from subscriptions page */
function getHTML() {
  let html = this.responseText;
  let parser = new DOMParser();
  let domDoc = parser.parseFromString(html, "text/html");
  console.log(domDoc);
  let subscribedPackage = domDoc.querySelectorAll('.td-product');
  let metafield = document.getElementById('customer-metafields').dataset.metafields;


  for (let product of subscribedPackage) {
    let subscribedPackage = product.children[0].innerHTML.trim();
    let subscribedQty = product.nextElementSibling.innerHTML.trim();
    let productId = '';
    let collectionId = '';
    if (subscribedPackage.includes('8-Dish') || subscribedPackage.includes('16-Dish')) {
      document.getElementById('subscribed-packages').innerHTML =
        '<tr>\
          <td class="table-img">\
            <a href="#image' + productId + '">\
              <img src="" id="image' + productId + '" alt="" class="modal-img" data-collection="' + collectionId + '"/>\
          </a>\
        </td>\
          <td colspan="4">' + subscribedPackage + '</td>\
          <td class="table-inputs"><div class="subscribed-td-qty">' + subscribedQty + '</div></td>\
        </tr>'
    }
  }
  document.getElementById('loading-spinner').style.display = 'none';
  document.getElementById('subscribed-order-form').removeAttribute("style");
}
let requestHTML = new XMLHttpRequest();
requestHTML.addEventListener("load", getHTML);
requestHTML.open("GET", "/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/");
requestHTML.send();
/* Ajax data from subscriptions page end */

</script>
