{{ '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js' | script_tag }}
<style>

input.slideIn-fadeIn {
  max-height: 0;
  opacity: 0;
  padding: 0 10px;
  margin: 0 0 0;
  transition: all .2s ease-in-out;
}

.slideIn-fadeIn.show {
  max-height: 100px;
  opacity: 1;
  padding: 8px 10px;
  margin: 0 0 1em;
}

.delivery-label {
  font-weight: 700;
}

.delivery-label {
  display: inline-block;
}

</style>


<!-- Delivery Date -->
<div class="grid__item large--one-half cart__instructions">
  <p class="delivery-label">Delivery Date:</p>&nbsp;<span id="date"></span>
</div>

<!-- Delivery Details -->
<div class="grid__item large--one-half cart__instructions">
    <label for="delivery-details" class="cart-notes">Delivery details:</label>
    <input id="delivery-details" class="slideIn-fadeIn" type="text" name="attributes[delivery-details]" value="{{ cart.attributes.delivery-details }}" />
</div>

<!-- Anything else you'd like us to know? -->
<div class="grid__item large--one-half cart__instructions">
    <label for="anything-else-we-should-know" class="cart-notes">Anything else you'd like us to know?:</label>
      <input id="anything-else-we-should-know" class="slideIn-fadeIn" type="text" name="attributes[anything-else-we-should-know]" value="{{ cart.attributes.anything-else-we-should-know }}" />
</div>



<script>
// Find and format next Sunday
var today = new Date();
var nextSunday = new Date(today.getFullYear(),today.getMonth(),today.getDate()+(7-today.getDay()));
var formatSunday = moment(nextSunday).format("dddd MMMM Do YYYY");
document.getElementById('date').innerHTML = formatSunday;


// Reveal inputs
function revealInput() {
  var inputLabel = this.nextSibling.nextSibling;
  inputLabel.classList.toggle("show");
}

// Listen for click on inputs
var cartNotes = document.querySelectorAll(".cart-notes");
for (var i = 0; i < cartNotes.length; i++) {
  cartNotes[i].addEventListener('click', revealInput, false);
}

</script>
