<div class="grid">
  <div class="grid__item">
    <div id="show-menu"></div>
    <br><br>
  </div>
</div>


<script>

/* Ajax data from subscriptions page */
function getHTML() {
  var html = this.responseText;
  var parser = new DOMParser();
  var domDoc = parser.parseFromString(html, "text/html");
  var images = domDoc.querySelectorAll('img');
  var menuImg;
  for (var i = 0; i < images.length; i++) {
    if (images[i].outerHTML.indexOf('menu') > -1) {
      console.log(images[i].outerHTML);
      menuImg = images[i].outerHTML;
    }
  }
  document.getElementById('show-menu').innerHTML = menuImg;
  document.getElementById('order-form-wrapper').classList.remove('hidden');
}

var requestHTML = new XMLHttpRequest();
requestHTML.addEventListener("load", getHTML);
requestHTML.open("GET", "/pages/menu");
requestHTML.send();
/* Ajax data from subscriptions page end */

</script>
