<style>
#flash-message {
  position:fixed;
  z-index:1400;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  text-align:center;
  width: 100%;
  display:none;
}
</style>

<div id="flash-message" class="alert alert-danger" data-alert="alert"></div>


<script>
/* Flashmessages */
function closeFlashMessage() {
  window.setTimeout(function () {
    $("#flash-message").fadeOut(900);
  }, 3000);
}
</script>
