<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item">
      <div id="show-subscription"></div>
    </div>
  </div>
</div>


<script>

/* Ajax data from subscriptions page */
function getHTML() {
  var html = this.responseText;
  var parser = new DOMParser();
  var domDoc = parser.parseFromString(html, "text/html");
  var pageRtes = domDoc.querySelectorAll('.rte');
  var pageBox;
  for (var i = 0; i < pageRtes.length; i++) {
    if (pageRtes[i].parentNode.children[0].innerHTML === 'subscribe') {
      pageBox = pageRtes[i].parentNode.children[1].outerHTML;
    }
  }
  document.getElementById('show-subscription').innerHTML = pageBox;
  document.getElementById('order-form-wrapper').classList.remove('hidden');
}

var requestHTML = new XMLHttpRequest();
requestHTML.addEventListener("load", getHTML);
requestHTML.open("GET", "/pages/subscribe");
requestHTML.send();
/* Ajax data from subscriptions page end */

</script>
