<div class="wrapper">


  <header class="section-header page-margin">
    <h2 class="section-header__left title">{{ 'customer.account.title' | t }}</h2>
  </header>

  <hr class="hr--small">

  <div class="grid">
    <div class="grid__item">
      {% include 'customr' %}
    </div>
  </div>

</div>
